@import "../app.component.scss";

.fh-c {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > * {
        display: block;
    }
}

h1, h3 {
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 4vw;
}

h3 > a {
    text-decoration: none;
    font-weight: 500;
    color: $primary;
}