$primary:#13547a;
$second:#80d0c7;

h2.sp-title {
    letter-spacing: 0.1em;
    min-width: 30vw;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5vh;
    &::after {
        content: "";
        display: block;
        height: 2px;
        background: linear-gradient(to right, $primary, $second);
        width: 100%;
        margin: 30px 0;
        text-align: center;
    }
    &.school::after{
        background: linear-gradient(to right, #bd8100, lighten(#bd8100, 20%));
    }
}

@media only screen and (max-width: 1200px) {
    h2.sp-title {
        margin-top: 2vh;
    }
}