@import "../app.component.scss";

.fh-c {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.name-c {
    width: 5vw;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 0 30px #ddd;
}

#author {
    transform: rotateZ(-90deg);
    transform-origin: 0 100%;
    position: absolute;
    font-size: 1vw;
    display: inline-block;
    color: #eee;
    height: 1vw;
    width: 100vh;
    left: 2.5vw;
    bottom: 0%;
    text-align: center;
    letter-spacing: 1em;
}

.title-c {
    width: 75vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10vh 0;
    padding: 0 5vw;
}

@media only screen and (max-width: 1200px) {
    .fh-c {
        flex-direction: column;
    }
    .name-c {
        width: 100%;
        height: 5vh;
    }
    #author {
        font-size: 2vh;
        letter-spacing: 0.4em;
        font-weight: 300;
        transform: none;
        transform-origin: initial;
        left: initial;
        bottom: initial;
        margin: 0;
        height: initial;
        width: initial;
    }
    .title-c {
        width: 90vw;
    }
}

.approot-title {
    cursor: pointer;
    font-size: 6vw;
    text-decoration: none;
    color: #333;
    letter-spacing: 0.2em;
    font-weight: 300;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: all 0.1s ease-in-out;
        transition-duration: 0.3s;
        opacity: 0;
        left: 0;
        background-color: $primary;
    }
}

h2:hover .approot-title:before,
h2:hover .approot-title:after {
    width: 100%;
    opacity: 1;
}