@import "../app.component.scss";

.backHome{
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    & svg {
        height: 10vh;
        width: 10vh;
        padding-left: 20px;
    }
    & .backIcon {
        padding-left: 20px;
        stroke: $primary;
    }
    & .backHomeText {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .backHome {
        position: initial;
        height: 7vh;
        border-bottom: 1px solid #eee;
        & svg {
            height: 3vh;
            width: 3vh;
            padding: 0 auto;
        }
        & .backHomeText {
            display: none;
            text-decoration: none;
            font-size: 1%;
        }
    }
}